*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.15em;	
  background-color: #ececec;
}
p{
  padding-bottom: 10px;
  font-size: 109%;
}
.container{
  max-width: 1920px;
  min-width: 1000px; 
  width: 80%;
  margin: 10px auto 10px auto;
  background-color: #ffffff;
}
.container header{
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(102, 173, 214) ;
  
}
header h1{
  padding: 0px 20px; 
  font-family: Helvetica, sans-serif;
  font-size: 5em;
}
header a{
  text-decoration: none;
  color: #000000;
}
header img:logo{
  width: 20%;
  height: auto;
}
.navbar{
  width: 90%;
  padding: 15px 5%;
  margin: 0px auto 40px auto;
  text-align: center;
  background-color: rgb(243, 243, 243);
}
li{
  display: inline-block;
  margin: 0px 3px;
}
.navbar a{
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  padding: 6px 25px;
  font-size: 150%;
}
.navbar a:hover, .navbar a.on{
  color: #3f8fc4;
}
.content{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px;
  padding-bottom: 5px;
  padding: 10px 50px;
}
.main{
  margin-right: 40px;
  text-align: center;
  border-bottom: 20px;
  padding-bottom: 20px;
}
.main h1{
  font-size: 400%;
  margin-bottom: 20px;
}
.main p{
  text-align: justify;
  padding: 10px 10px;
}


.columnes {
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
}

.lphaco{
  margin-top: 25%;
}


footer{
  border-top: 20px;
  padding-top: 10px;
  text-align: center;
  background-color: rgb(243, 243, 243);
}

/* ANIMACIO */

.imgs {
  text-align: center;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
.textimg {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0%;
  left: 7%;
  color: #6b96cf;
  width: 400px;
  height: 380px;
  transition: all 400ms ease-out;
  text-align: center;
}
.imgs .textimg:hover {
  opacity: 1;
}
.imgs .textimg .text{
  position: relative;
  top: 72%;
}

.imgs2 {
  text-align: center;
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
}
.textimg2 {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0%;
  left: 15%;
  color: #6b96cf;
  width: 400px;
  height: 380px;
  transition: all 400ms ease-out;
  text-align: center;
}
.imgs2 .textimg2:hover {
  opacity: 1;
}
.imgs2 .textimg2 .text{
  position: relative;
  top: 72%;
}



/*keyframes*/

.laser p{  
  text-align: center;
  background-color: red;
  margin-top: 30%;
}


.laser p{
  animation: animationFrames linear 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 100% 50%;
  border-radius: 20px;
}

@keyframes animationFrames{
  0% {
    transform:  translate(-25px,-25px)  rotate(0deg) ;
  }
  25% {
    transform:  translate(-25px,-25px)  rotate(8deg) ;
  }
  50% {
    transform:  translate(-25px,-25px)  rotate(0deg) ;
  }
  75% {
    transform:  translate(-25px,-25px)  rotate(-8deg) ;
  }
  100% {
    transform:  translate(-25px,-25px)  rotate(0deg) ;
  }
}





/* Transitions*/

.container header h1 { transition: all .2s ease-in-out; }
.container header h1:hover { transform: scale(1.02); }


.container nav li { transition: all .2s ease-in-out; }
.container nav li:hover { transform: scale(1.08); }

/*media queries mobil/tablet*/


@media only screen

  and (min-width: 375px)

  and (max-width: 812px) {
  *{
    max-height: auto;
  }
  .container{
    width: 100%;
    margin: 0px auto;
    min-width: 375px;
    max-width: 812px;
    max-height: auto;
  }
  .navbar a{
    padding: 0px 10px;
  }
  .textimg{
    left: 15%;
  }
  .columnes img{
    width: 80%;
    height: auto;
  }


}